.wrapper {
  max-width: var(--container-max);
  margin: 0 auto;
  padding: calc(var(--header-height) + var(--space-2xl)) var(--space-lg) var(--space-2xl);
}

.title {
  text-align: center;
  margin: 0 0 var(--space-2xl);
  font-size: var(--text-2xl);
  font-weight: 600;
  color: var(--text-primary);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--space-lg);
  justify-items: center;
}

.flower{
    width: 300px;
    height: 300px;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
}

.petal{
    width: 100px;
    height: 200px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.petal:nth-child(1){
    transform: translate(-50%, -50%) rotate(0deg);
}
.petal:nth-child(2){
    transform: translate(-50%, -50%) rotate(60deg);
}
.petal:nth-child(3){
    transform: translate(-50%, -50%) rotate(120deg);   
}
.petal:nth-child(4){
    transform: translate(-50%, -50%) rotate(180deg);   
}

.center{
    width: 80px;
    height: 80px;
    background: chocolate;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.tallo{
    width: 10px;
    height: 200px;
    background: green;
    position: absolute;
    top: 80%;
    left: 59%;
    transform: translate(-300%, -10%);
    z-index: -1;
}

.hoja{
    width: 50px;
    height: 100px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, 100%) rotate(90deg);
}


.hoja1{
    width: 50px;
    height: 100px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 130%) rotate(270deg);
}